<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi <%= user.name%></h1>
    <p>Now you're logged in!</p>
    <p>You can look up your profile <a href="/user/profile">here</a>.</p>
    <hr>
    <p>To logout click <a href="/logout">here</a>.</p>
  </body>
</html>
